@import "param";

.navigation-block {

  &__pagination {
    width: fit-content;
    font-size: 2rem;
    line-height: 2.32rem;
    letter-spacing: -0.15em;
    color: $gray;

    > .swiper-pagination-current {
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.63rem;
      letter-spacing: 0;
      color: #171923;
    }

    > .swiper-pagination-total {
      letter-spacing: 0;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 3rem;
    text-align: center;

    > svg {
      width: 0.9rem;
      height: 1.6rem;

      path {
        stroke: #373D4D;
      }
    }

    &--left {
      margin-right: 2rem;
    }

    &--right {
      margin-left: 2rem;
    }
  }

  &__navigation-time-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    margin: 0 3rem;
    border-radius: 100%;
    background-color: #C4CEDA;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 2;
      background-color: #C4CEDA;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 3;
      background-color: #4C9FA3;
    }

    &.animate {
      &:before {
        z-index: 3;
        animation: mask-left 5s forwards steps(1, end);
      }

      &:after {
        animation: mask-right 5s forwards steps(1, end);
      }

      .navigation-block__navigation-time-line {
        animation: line 5s forwards linear;
      }
    }
  }

  &__navigation-time-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: #4C9FA3;
    }
  }

  &__navigation-time-body {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 100%;
    background-color: #E2ECF2;

    &:before {
      content: '';
      display: block;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 100%;
      background-color: #4C9FA3;
    }
  }
}

@keyframes line {
  0% {}
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mask-left {
  0% {
    visibility: visible;
  }
  50%,
  100% {
    visibility: hidden;
  }
}

@keyframes mask-right {
  0% {
    visibility: hidden;
  }
  50%,
  100% {
    visibility: visible;
  }
}




.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    max-width: 100rem;
    @include title-font;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 24.4rem;
    height: 5.8rem;
    padding: 0 2rem 0 3rem;
    margin-right: 3.2rem;
    border-radius: 100rem;
    background: linear-gradient(87.94deg, #F76B2A 3.98%, #FC5A37 78.77%),
    linear-gradient(0deg, #ACACAC, #ACACAC);
    box-shadow: 0.1rem 0.1rem 0.53rem 0 rgba(255, 255, 255, 0.6) inset, 0 0.88rem 2.63rem 0 rgba(255, 132, 75, 0.3);
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.98rem;
    color: $white;

    > svg {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1.4rem;

      > circle {
        fill: $white;
        width: 100%;
        height: 100%;
      }

      > path {
        stroke: #FC7637;
      }
    }
  }
}