@import "param";

.intro {
  margin-bottom: 16rem;

  &__item {
    position: relative;
    background-color: #F2F7FB;
  }

  &__background-block {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 70.7rem;
    height: 100%;
    background: linear-gradient(186.13deg, #2F8D88 4.85%, #6DB197 105.45%);
  }

  &__item-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__block {
    &--info-cards {
      flex: none;
      width: 28.4rem;
    }

    &--text {
      flex: none;
      width: 74rem;
    }

    &--image-block {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 61.3rem;

      > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }

  &__info-card {
    display: flex;
    align-items: center;
    width: 28.4rem;
    min-height: 10.6rem;
    padding: 0 2rem;
    margin-bottom: 2.8rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.27);
  }

  &__card-block-icon {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.6rem;
    height: 6.6rem;
    margin-right: 1.8rem;
    border-radius: 2rem;
    background-color: $white;

    > svg {
      width: 3rem;
      height: 3rem;

      path {
        fill: #318F89;
      }
    }
  }

  &__card-text {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: $white;
  }

  &__above-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $orange;
  }

  &__title {
    display: flex;
    margin-bottom: 2.4rem;
    @include title-font;

    &--money {
      margin-top: -1.5rem;
      margin-left: 0.3rem;
      font-size: 2.1rem;
      color: $green;
    }
  }

  &__list {
    margin-left: 2rem;
    margin-bottom: 4rem;

    > li {
      list-style-type: disc;
      padding-left: 2rem;
      margin-bottom: 1.7rem;
      font-size: 1.7rem;
      line-height: 1.97rem;

      &::marker {
        font-size: 2.4rem;
      }

      &:nth-child(odd)::marker {
        color: $orange;
      }

      &:nth-child(even)::marker {
        color: $green;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__row {
    display: flex;
    margin-bottom: 7rem;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 24.4rem;
    height: 5.8rem;
    padding: 0 1.3rem 0 2.6rem;
    margin-right: 3.2rem;
    border-radius: 100rem;
    background: linear-gradient(87.94deg, #F76B2A 3.98%, #FC5A37 78.77%), #ACACAC;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.98rem;
    color: $white;

    > svg {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1.4rem;

      > circle {
        fill: $white;
        width: 100%;
        height: 100%;
      }

      > path {
        stroke: #FC7637;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.98rem;
    text-decoration: underline;
    color: #171923;

    > svg {
      width: 0.9rem;
      height: 1.6rem;
      margin-left: 0.9rem;

      > path {
        stroke: #171923;
      }
    }
  }

  &__info-block {
    display: flex;
    align-items: center;
    width: fit-content;
    min-height: 10.6rem;
    padding: 0 3rem;
    border-radius: 3rem;
    background-color: #E2ECF2;
  }

  &__info-block-icon {
    width: 2.9rem;
    height: 2.9rem;
    margin-right: 1.7rem;
  }

  &__info-block-text {
  }

  &__info-text {
    &--gray {
      margin-bottom: 0.9rem;
      font-size: 1.6rem;
      line-height: 1.88rem;
      color: $gray;
    }

    &--bold {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.18rem;
    }
  }

  &__pagination-block {
    background-color: #E2ECF2;
  }

  &__pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9.5rem;
  }

  &__pagination {
    width: fit-content;
    font-size: 2rem;
    line-height: 2.32rem;
    letter-spacing: -0.15em;
    color: $gray;

    > .swiper-pagination-current {
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.63rem;
      letter-spacing: 0;
      color: #171923;
    }

    > .swiper-pagination-total {
      letter-spacing: 0;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__navigation-time-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100%;
    background-color: #C4CEDA;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 2;
      background-color: #C4CEDA;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 3;
      background-color: #4C9FA3;
    }

    &.animate {
      &:before {
        z-index: 3;
        animation: mask-left 5s infinite steps(1, end);
        animation-play-state: inherit;
      }

      &:after {
        animation: mask-right 5s infinite steps(1, end);
        animation-play-state: inherit;
      }

      .intro__navigation-time-line {
        animation: line 5s infinite linear;
        animation-play-state: inherit;
      }
    }

    &.pause {
      animation-play-state: paused;
    }
  }

  &__navigation-time-body {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 100%;
    background-color: #E2ECF2;

    &:before {
      content: '';
      display: block;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 100%;
      background-color: #4C9FA3;
    }
  }

  &__navigation-time-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: #4C9FA3;
    }
  }

  &__navigation-arrow {
    > svg {
      width: 0.9rem;
      height: 1.6rem;

      path {
        stroke: #373D4D;
      }
    }

    &--left {
      margin-right: 3rem;
    }

    &--right {
      margin-left: 3rem;
    }
  }

  &__pagination-text {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.98rem;
  }
}




@keyframes line {
  0% {}
  92% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mask-left {
  0% {
    visibility: visible;
  }
  46%,
  92% {
    visibility: hidden;
  }
}

@keyframes mask-right {
  0% {
    visibility: hidden;
  }
  46%,
  92% {
    visibility: visible;
  }
}