@import "set";
@import "components";

@import "header";
@import "footer";
@import "intro";

@import "main/services-cards";
@import "main/prices";
@import "main/advantages";
@import "main/about-numbers";
@import "main/doctors";
@import "main/motivation";
@import "main/stages";
@import "main/placement";
@import "main/video-reviews";
@import "main/text-reviews";
@import "main/licenses";
@import "main/map";

@import "treatment-programs/citation";
@import "treatment-programs/list-services";
@import "treatment-programs/warranty";
@import "treatment-programs/min-cleansing";
@import "treatment-programs/recovery-procedure";

@import "blog/blog-category";
@import "blog/articles";

@import "article/article";
@import "article/citation-article";
@import "article/comments_form";
@import "article/pages";

@import "gameromania/program-gamer";

@import "drug-hospital/gallery";

@import "prices/page-price-block";
@import "prices/callback";

body.lock {
  overflow: hidden;
}

.mobile {
  display: none;
}

.show {
  display: initial;
}

.hide {
  display: none;
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}