@import "set";
@import "components";

@import "header";
@import "footer";
@import "intro";

@import "index/services-cards";
@import "index/prices";
@import "index/advantages";
@import "index/about-numbers";
@import "index/doctors";
@import "index/motivation";
@import "index/stages";
@import "index/placement";
@import "index/video-reviews";
@import "index/text-reviews";
@import "index/licenses";
@import "index/map";

@import "treatment-programs/citation";
@import "treatment-programs/list-services";
@import "treatment-programs/warranty";
@import "treatment-programs/min-cleansing";
@import "treatment-programs/recovery-procedure";

@import "blog/blog-category";
@import "blog/articles";

@import "article/article";
@import "article/citation-article";
@import "article/comments_form";
@import "article/pages";

@import "gameromania/program-gamer";

@import "drug-hospital/gallery";

body.lock {
  overflow: hidden;
}

.mobile {
  display: none;
}

.show {
  display: initial;
}

.hide {
  display: none;
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}