@import "../param";

.program-gamer {
  margin-bottom: 20rem;

  &__block {
    display: flex;
    padding: 4.8rem;
    border-radius: 4rem;
    background-color: $white;
  }

  &__image-block {
    flex: none;
    width: 52.6rem;
    height: 40.7rem;
    margin-right: 4rem;
    border-radius: 2.2rem;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text-block {
    flex-grow: 1;
    padding: 1rem 2rem 1rem 0;
  }

  &__title {
    margin-bottom: 2.9rem;
    font-weight: bold;
    font-size: 3.3rem;
    line-height: 4.09rem;
  }

  &__description-block {
    width: 71.5rem;
    min-height: 8.4rem;
    padding: 2rem;
    margin-bottom: 2.5rem;
    border-radius: 2rem;
    border: 4px solid rgba(199, 207, 214, 0.25);
    background-color: #FBF9F9;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  &__list {
    margin-bottom: 3rem;
  }

  &__list-item {
    margin-bottom: 1.1rem;
    margin-left: 2.5rem;
    font-size: 1.8rem;
    line-height: 2.16rem;
    list-style-type: disc;

    &::marker {
      font-size: 2.5rem;
      color: #318F89;
    }
  }

  &__bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__warning-block {
    display: flex;
    align-items: center;
    width: 52rem;
    border-radius: 2rem;
    background: linear-gradient(194.4deg, #318E88 -22.77%, #73C1A8 116.6%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    font-size: 1.8rem;
    line-height: 2.16rem;
    color: $white;
  }

  &__icon-block {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.6rem;
    height: 6.6rem;
    margin: 0.6rem 2.3rem 0.6rem 0.6rem;
    border-radius: 2rem;
    background-color: $white;

    > img {
      width: 0.9rem;
      height: 3.6rem;
    }
  }

  &__btn {
  }
}

@media (max-width: 48em) {
  .program-gamer {
    &__block {
      flex-direction: column;
      padding: 4rem 4rem 8rem 4rem;
      border-radius: 8rem;
    }

    &__image-block {
      width: 100%;
      height: 45.6rem;
      margin-right: 0;
      margin-bottom: 8rem;
      border-radius: 4.4rem;
    }

    &__text-block {
      padding: 0;
    }

    &__title {
      margin-bottom: 4rem;
      font-size: 4.6rem;
      line-height: 6rem;
    }

    &__description-block {
      width: 100%;
      min-height: auto;
      padding: 4rem;
      margin-bottom: 5rem;
      border-radius: 4rem;
      border: 0.8rem solid rgba(199, 207, 214, 0.25);
      font-size: 3.2rem;
      line-height: 3.7rem;
    }

    &__list {
      margin-bottom: 6rem;
    }

    &__list-item {
      margin-bottom: 1.5rem;
      margin-left: 4rem;
      font-size: 3.2rem;
      line-height: 4.6rem;

      &::marker {
        font-size: 4rem;
      }
    }

    &__bottom-block {
      flex-direction: column;
      justify-content: normal;
      align-items: center;
    }

    &__warning-block {
      display: flex;
      align-items: normal;
      width: 100%;
      padding: 4rem;
      margin-bottom: 6rem;
      border-radius: 4rem;
      font-size: 3.2rem;
      line-height: 3.7rem;
    }

    &__icon-block {
      width: 13.2rem;
      height: 13.2rem;
      margin: 0 3rem 0 0;
      border-radius: 4rem;

      > img {
        width: 1.8rem;
        height: 7.2rem;
      }
    }

    &__btn {
    }
  }
}