@import "../param";

.prices-rehab {
  .prices__main-block {
    min-height: auto;
  }

  &__main-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33.8rem;
    height: 17.3rem;
    padding: 2.5rem;
    border-radius: 4rem;
    border: 0.3rem solid rgba(49, 142, 136, 0.5);
  }

  &__main-info-icon {
    width: 5.7rem;
    height: 5.7rem;
  }

  &__main-info-text {
    width: 21.1rem;
    font-size: 1.6rem;
    line-height: 2.3rem;

    &--title {
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 2.2rem;
      line-height: 2.2rem;
    }
  }
}

@media (max-width: 48em) {
  .prices-rehab {
    &__main-info-block {
      width: 100%;
      height: 30.4rem;
      padding: 5rem;
      border-radius: 8rem;
      border: 0.6rem solid rgba(49, 142, 136, 0.5);
    }

    &__main-info-icon {
      width: 8rem;
      height: 8rem;
    }

    &__main-info-text {
      width: 37.4rem;
      font-size: 2.8rem;
      line-height: 4.6rem;

      &--title {
        margin-bottom: 3rem;
        font-size: 3.6rem;
        line-height: 3.6rem;
      }
    }
  }
}