@import "../param";

.advantages {
  margin-bottom: 17rem;

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
  }

  &__title {
    @include title-font;
  }

  &__btn {
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 50rem;
    height: auto;
    min-height: 31.4rem;
    padding: 5rem 4rem;
    margin-bottom: 4.5rem;
    border-radius: 4rem;
    background-color: $white;
    box-shadow: 2rem 2rem 9rem 0 rgba(219, 230, 237, 0.74);
  }

  &__icon-block {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 3.1rem;
  }

  &__icon {
    width: 8.9rem;
    height: 9rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__number {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.42rem;
    color: #68B8A3;
  }

  &__info-block {}

  &__info-title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.2rem;
  }

  &__line {
    width: 28.7rem;
    height: 2px;
    border-radius: 3rem;
    margin: 2.5rem 0;
    background-color: #E7EEF3;
  }

  &__info-description {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 48em) {
  .advantages {
    margin-bottom: 20rem;

    &__title-block {
      margin-bottom: 10rem;
    }

    &__title {}

    &__btn {
      margin: 0 auto;

      &.mobile {
        display: flex;
      }
    }

    &__cards {
      margin-bottom: 8rem;
    }

    &__item {
      width: 100%;
      min-height: 61.2rem;
      padding: 6rem 4rem;
      margin-bottom: 6rem;
      border-radius: 8rem;
      box-shadow: 4rem 4rem 18rem 0 rgba(219, 230, 237, 0.74);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__icon-block {}

    &__icon {
      width: 11rem;
      height: 11rem;
    }

    &__number {
      font-size: 4rem;
      line-height: 4.84rem;
    }

    &__info-block {}

    &__info-title {
      font-size: 4rem;
      line-height: 6rem;
    }

    &__line {
      width: 43rem;
      border-radius: 6rem;
      margin: 4rem 0;
    }

    &__info-description {
      font-size: 3.2rem;
      line-height: 5rem;
    }
  }
}