@import "../param";

.doctors {
  margin-bottom: 11.5rem;

  &__title-block {
    margin-bottom: 6.5rem;
    text-align: center;
  }

  &__title {
    margin-bottom: 3rem;
    @include title-font;
  }

  &__description {
    width: 66.5rem;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36.5rem;
    min-height: 59rem;
    height: fit-content;
    padding: 2rem;
    margin-bottom: 4.5rem;
    border-radius: 4rem;
    background-color: #E2ECF2;
    transition: 0.3s ease;

    &:not(:nth-child(4n)) {
      margin-right: 4rem;
    }

    &:nth-child(4n + 2) {
      .doctors__description-block {
        left: -40.8rem;
      }
    }
    &:nth-child(4n + 3) {
      .doctors__description-block {
        left: -81.6rem;
      }
    }
    &:nth-child(4n + 4) {
      .doctors__description-block {
        left: -122.4rem;
      }
    }

    &.open {
      .doctors__item-arrow {
        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__image-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 32.2rem;
    height: 30.6rem;
    margin-bottom: 3rem;
    border-radius: 3.2rem;
    background-color: $white;
    overflow: hidden;
    box-shadow: 1rem 1rem 4rem 0 rgba(55, 55, 55, 0.3);

    > img {
      width: 95%;
      height: 95%;
      object-fit: contain;
    }

    &--full {
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__info-block {
    padding: 1rem;
  }

  &__special {
    margin-bottom: 1.4rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #4EBB9F;
  }

  &__name {
    margin-bottom: 2.4rem;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.2rem;
  }

  &__line {
    width: 2px;
    height: 6.3rem;
    border-radius: 3rem;
    background-color: #C9D5DC;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    border-top: 2px solid #C9D5DC;
  }

  &__total-work {
    margin-top: 1rem;
  }

  &__work {
    margin-top: 1rem;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  &__work-age {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  &__description-block {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -10;
    width: 159rem;
    padding: 2.5rem 5.2rem 2.5rem 4.2rem;
    margin-top: 7rem;
    border-radius: 4rem;
    background: linear-gradient(267.28deg, #E1EBF1 7.01%, #E1EDF4 85.89%);
    font-size: 2rem;
    line-height: 2.8rem;
    opacity: 0;
    transition: 0.3s ease;

    &.show {
      opacity: 1;
    }

    b {
      font-weight: 600;
    }
  }

  &__description-block-bg {
    position: absolute;
    left: 0;
    top: -5rem;
    z-index: -10;
    width: 100%;

    > img {
      width: 100%;
      object-fit: fill;
    }
  }

  &__item-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 2rem 0 0 0;
    background-color: #F2F7FB;

    > svg {
      width: 1.5rem;
      height: 0.9rem;
      transform: rotate(0deg);
      transition: 0.3s ease;

      path {
        stroke: #373D4D;
      }
    }
  }
}

@media (max-width: 48em) {
  .doctors {
    margin-bottom: 12rem;

    &__title-block {
      margin-bottom: 6rem;
      text-align: center;
    }

    &__title {
      margin-bottom: 6rem;
      @include title-font;
    }

    &__description {
      width: 100%;
      font-size: 3.6rem;
      line-height: 5.2rem;
    }

    &__cards {}

    &__item {
      width: 100%;
      min-height: 104.2rem;
      padding: 4rem;
      margin-bottom: 8rem;
      border-radius: 8rem;

      &:not(:nth-child(4n)) {
        margin-right: 0;
      }

      &:nth-child(4n + 2) {
        .doctors__description-block {
          left: 0;
        }
      }

      &:nth-child(4n + 3) {
        .doctors__description-block {
          left: 0;
        }
      }

      &:nth-child(4n + 4) {
        .doctors__description-block {
          left: 0;
        }
      }
    }

    &__image-block {
      width: 100%;
      height: 61.2rem;
      margin-bottom: 4.4rem;
      border-radius: 6.4rem;
      box-shadow: 2rem 2rem 8rem 0 rgba(55, 55, 55, 0.3);
    }

    &__info-block {}

    &__special {
      margin-bottom: 0.8rem;
      font-weight: bold;
      font-size: 3rem;
      line-height: 5rem;
    }

    &__name {
      margin-bottom: 3rem;
      font-size: 4rem;
      line-height: 6.4rem;
    }

    &__line {
      width: 2px;
      height: 12.6rem;
      border-radius: 6rem;
    }

    &__info {
      padding: 0 1rem;
    }

    &__total-work {
      margin-top: 2rem;
    }

    &__work {
      margin-top: 2rem;
    }

    &__text {
      font-size: 3rem;
      line-height: 5rem;
    }

    &__work-age {
      font-size: 3.4rem;
      line-height: 5rem;
    }

    &__description-block {
      width: 100%;
      padding: 6rem 4rem;
      margin-top: 17rem;
      border-radius: 8rem;
      font-size: 4rem;
      line-height: 5.6rem;
    }

    &__description-block-bg {
      top: -9.4rem;
    }

    &__item-arrow {
      width: 9rem;
      height: 9rem;
      border-radius: 4rem 0 0 0;

      > svg {
        width: 3rem;
        height: 1.8rem;
      }
    }
  }
}