@import "../param";

.services-cards {
  margin-bottom: 16rem;

  &__title-block {
    margin-bottom: 8.7rem;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50rem;
    height: 40rem;
    padding: 1.9rem 3.8rem 0 4.7rem;
    border-radius: 3rem 3rem 4rem 4rem;
    background-color: #F3F7FA;
    box-shadow: 2rem 2rem 9rem 0 rgba(219, 230, 237, 0.74);
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 33.1rem;

    > path {
      fill: $white;
    }
  }

  &__icon {
    position: absolute;
    left: 6.3rem;
    top: -3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.1rem;
    height: 8.2rem;
    border-radius: 100%;
    background: linear-gradient(195.05deg, #318E88 -22.32%, #73C1A8 96.92%),
    linear-gradient(87.94deg, #F76B2A 3.98%, #FC5A37 78.77%),
    linear-gradient(0deg, #ACACAC, #ACACAC);
    box-shadow: 0.1rem 0.1rem 0.53rem 0 rgba(255, 255, 255, 0.6) inset;

    > img {
      width: 3.6rem;
      height: 3.6rem;
      object-fit: contain;
    }
  }

  &__number {
    margin-bottom: 5.1rem;
    text-align: right;
    font-size: 1.5rem;
    line-height: 1.76rem;
    color: $gray;
  }

  &__item-title {
    position: relative;
    display: block;
    margin-bottom: 2.8rem;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.02rem;
  }

  &__list {
    position: relative;
  }

  &__list-item {
    margin-bottom: 1.7rem;
    font-size: 1.8rem;
    line-height: 2.16rem;
    text-decoration: underline;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6.9rem;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.03rem;
    color: $gray;
  }
}

@media (max-width: 48em) {
  .services-cards {
    margin-bottom: 20rem;

    &__title-block {
      margin-bottom: 15.4rem;

      .title-block__title {
        line-height: 8rem;
      }
    }

    &__cards {
      flex-direction: column;
      justify-content: normal;
    }

    &__item {
      width: 100%;
      height: 73rem;
      padding: 3.6rem 4rem 0 5rem;
      margin-bottom: 12.8rem;
      border-radius: 6rem 6rem 8rem 8rem;
      box-shadow: 4rem 4rem 18rem 0 rgba(219, 230, 237, 0.74);

      &:last-child {
        margin-bottom: 8rem;
      }
    }

    &__bg {
      width: 100%;
      height: 61.2rem;
    }

    &__icon {
      left: 13.2rem;
      top: -6.8rem;
      width: 15rem;
      height: 15rem;
      box-shadow: 0.2rem 0.2rem 1rem 0 rgba(255, 255, 255, 0.6) inset;

      > img {
        width: 7.2rem;
        height: 7.2rem;
      }
    }

    &__number {
      margin-bottom: 9rem;
      margin-right: 2rem;
      font-size: 3rem;
      line-height: 3.52rem;
    }

    &__item-title {
      margin-bottom: 5rem;
      font-size: 4rem;
      line-height: 4.84rem;
    }

    &__list {}

    &__list-item {
      margin-bottom: 4rem;
      font-size: 3.2rem;
      line-height: 3.7rem;
    }

    &__link {
      width: 100%;
      height: 11.8rem;
      font-size: 3.4rem;
      line-height: 4.06rem;
    }

    &__btn {
      margin: 0 auto;

      &.mobile {
        display: flex;
      }
    }
  }
}