@import "../param";

.about-numbers {
  margin-bottom: 16rem;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44rem;
    padding: 0 7.5rem;
    border-radius: 4rem;
    background-color: $white;
  }

  &__text-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 66.5rem;
    height: 100%;
    border-radius: 4rem 0 0 4rem;
    background: linear-gradient(186.13deg, #2F8D88 4.85%, #6DB197 105.45%);
  }

  &__text-block {
    position: relative;
    max-width: 39.5rem;
  }

  &__title {
    margin-bottom: 2.4rem;
    @include title-font;
    color: $white;
  }

  &__description {
    margin-bottom: 3.8rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: $white;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 25.4rem;
    min-height: 5.8rem;
    padding: 0 1.7rem 0 3.1rem;
    border-radius: 100rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0.46)),
    linear-gradient(87.94deg, #7CCEBB 3.98%, #55B39A 78.77%),
    linear-gradient(0deg, #ACACAC, #ACACAC);
    box-shadow: 0.09rem 0.09rem 0.53rem 0px rgba(255, 255, 255, 0.6) inset, 0 0.88rem 2.63rem 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.93rem;
    color: #1A6958;

    > svg {
      width: 2.5rem;
      height: 2.5rem;

      circle {
        width: 100%;
        height: 100%;
        fill: $white;
      }

      path {
        stroke: #1A6958;
      }
    }
  }

  &__image-block {
    flex: none;
    align-self: flex-end;
    position: relative;
    width: 46.7rem;
    height: 49rem;
    margin-top: -5rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image-block-bg {
    flex: non;
    position: relative;
    width: 40rem;
    height: 25.9rem;
    margin-left: -12rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info-block {
    position: relative;
    width: 21rem;
  }

  &__info-item {
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info-number {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.2rem;
  }

  &__info-text {
    font-size: 1.6rem;
    line-height: 1.86rem;
  }
}

@media (max-width: 48em) {
  .about-numbers {
    margin-bottom: 20rem;

    &__container {
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      min-height: 198.8rem;
      padding: 0;
      border-radius: 8rem;
    }

    &__bg {
      width: 100%;
      height: 140.8rem;
      border-radius: 8rem 8rem 0 0;
    }

    &__text-block {
      width: 100%;
      max-width: 100%;
      padding: 10rem 4rem 0 4rem;
      margin-bottom: 6rem;
    }

    &__title {
      margin-bottom: 6rem;
      @include title-font;
    }

    &__description {
      margin-bottom: 6rem;
      font-size: 3rem;
      line-height: 4.4rem;
    }

    &__btn {
      min-width: 50.8rem;
      min-height: 11.6rem;
      padding: 0 4.4rem 0 6.2rem;
      margin: 0 auto;
      border-radius: 200rem;
      box-shadow: 0.2rem 0.2rem 1rem 0 rgba(255, 255, 255, 0.6) inset, 0 1.8rem 5rem 0 rgba(255, 255, 255, 0.1);
      font-size: 3.2rem;
      line-height: 3.86rem;

      > svg {
        width: 5rem;
        height: 5rem;
      }
    }

    &__image-block {
      width: 100%;
      height: 62.6rem;
      margin-bottom: 6rem;
      padding: 0 3rem;
      margin-top: 0;
    }

    &__info-container {
      padding: 0 2rem;
    }

    &__image-block-bg {
      flex: none;
      width: 36rem;
      height: 31.6rem;
      margin-left: 0;
    }

    &__info-block {
      width: auto;
      margin-left: 2rem;
    }

    &__info-item {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__info-number {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 4rem;
      line-height: 6.4rem;
    }

    &__info-text {
      font-size: 2.8rem;
      line-height: 3.25rem;
    }
  }
}