@import "../param";

.placement {
  margin-bottom: 19rem;

  &__title-block {
    margin-bottom: 6.4rem;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 50rem;
    min-height: 66rem;
    height: auto;
    padding: 2rem 2rem 6rem 2rem;
    border-radius: 4rem;
    background-color: $white;
    box-shadow: 2rem 2rem 9rem 0 rgba(219, 230, 237, 0.74);

    &--green {
      > .placement__sub-title {
        color: $green;
      }

      > .placement__price {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)),
        linear-gradient(194.4deg, rgba(49, 142, 136, 0.79) -22.77%, #73C1A8 116.6%),
        linear-gradient(0deg, #E2ECF2, #E2ECF2);
      }
    }

    &--lilac {
      > .placement__sub-title {
        color: #5A76C9;
      }

      > .placement__price {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)),
        linear-gradient(194.4deg, rgba(65, 108, 174, 0.66) -22.77%, #596CCC 116.6%),
        linear-gradient(0deg, #E2ECF2, #E2ECF2);
      }
    }

    &--orange {
      > .placement__sub-title {
        color: $orange;
      }

      > .placement__price {
        background: linear-gradient(0.77deg, #F76B2A 11.15%, rgba(252, 90, 55, 0.63) 184.66%);
      }
    }
  }

  &__image-slider-block {
    position: relative;
    margin-bottom: 4.6rem;

    .placement__image-pagination {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      z-index: 2;
      width: fit-content;
      transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
      width: 1.1rem;
      height: 1.1rem;
      margin: 0 0.65rem !important;
      opacity: 0.6;
      border: 1px solid rgba(255, 255, 255, 1);
      background: linear-gradient(195.05deg, rgba(49, 142, 136, 0.4) -22.32%, rgba(115, 193, 168, 0.4) 96.92%),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
      box-shadow: 0.1rem 0.1rem 0.55rem 0 rgba(255, 255, 255, 0.6) inset, 0 0.9rem 2.75rem 0 rgba(233, 240, 245, 1);
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: linear-gradient(195.05deg, rgba(49, 142, 136, 0.8) -22.32%, rgba(115, 193, 168, 0.8) 96.92%),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
    }
  }

  &__image-slider {
    width: 100%;
    height: 30.6rem;
    border-radius: 3.2rem;
    box-shadow: 1rem 1rem 4rem 0 rgba(219, 230, 237, 0.74);
  }

  &__image-block {
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.2rem;
  }

  &__sub-title {
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  &__list {
    padding: 0 1.5rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  &__list-item {
    list-style-type: disc;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding-left: 1rem;

    &::marker {
      color: $orange;
    }

    &:nth-child(2)::marker {
      color: $green;
    }
  }

  &__price {
    position: absolute;
    bottom: -3rem;
    right: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.7rem;
    height: 6rem;
    border-radius: 4rem;
    background: inherit;
    box-shadow: 0.1rem 0.1rem 0.53rem 0 rgba(255, 255, 255, 0.6) inset, 0 0.88rem 2.63rem 0 rgba(67, 141, 115, 0.3);
    color: $white;

    &--money {
      display: flex;
      order: 1;
      font-weight: bold;
      font-size: 2.7rem;
      line-height: 3.26rem;

      &:before {
        content: '₽';
        order: 2;
        display: block;
        margin-left: 0.3rem;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.81rem;
      }

      &:after {
        content: '/ сутки';
        order: 3;
        align-self: center;
        display: block;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.81rem;
      }
    }
  }
}

@media (max-width: 48em) {
  .placement {
    margin-bottom: 20rem;

    &__title-block {
      margin-bottom: 8rem;
    }

    &__cards {
      flex-direction: column;
      justify-content: normal;
    }

    &__item {
      width: 100%;
      min-height: 100rem;
      padding: 4rem 4rem 10rem 4rem;
      margin-bottom: 10rem;
      border-radius: 8rem;
      box-shadow: 4rem 4rem 18rem 0 rgba(219, 230, 237, 0.74);

      &:last-child {
        margin-bottom: 12rem;
      }
    }

    &__image-slider-block {
      margin-bottom: 6rem;

      .placement__image-pagination {
        bottom: 4rem;
      }

      .swiper-pagination-bullet {
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 1.2rem !important;
        opacity: 0.6;
      }
    }

    &__image-slider {
      height: 39.4rem;
      border-radius: 6.4rem;
      box-shadow: 1rem 1rem 4rem 0 rgba(219, 230, 237, 0.74);
    }

    &__image-block {}

    &__title {
      padding: 0 2rem;
      margin-bottom: 1.6rem;
      font-size: 4.6rem;
      line-height: 6.4rem;
    }

    &__sub-title {
      padding: 0 2rem;
      margin-bottom: 5rem;
      font-size: 3.2rem;
      line-height: 5rem;
    }

    &__list {
      padding: 0 2rem;
      font-size: 3.2rem;
      line-height: 5rem;
    }

    &__list-item {
      margin-bottom: 1.8rem;
      margin-left: 3.6rem;

      &::marker {
        font-size: 4rem;
      }
    }

    &__price {
      bottom: -4.4rem;
      right: 3.6rem;
      width: 37.6rem;
      height: 10.8rem;
      border-radius: 8rem;

      &--money {
        font-size: 4.6rem;
        line-height: 5.56rem;

        &:before {
          margin-top: -1rem;
          margin-left: 0.8rem;
          font-size: 3rem;
          line-height: 3.62rem;
        }

        &:after {
          font-size: 3rem;
          line-height: 3.62rem;
        }
      }
    }

    &__btn {
      margin: 0 auto;

      &.mobile {
        display: flex;
      }
    }
  }
}