@import "../param";

.text-reviews {
  margin-bottom: 17rem;

  &__title-block {
    margin-bottom: 5.5rem;
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.93rem;
    text-decoration: underline;

    > svg {
      width: 0.9rem;
      height: 1.6rem;
      margin-left: 1.4rem;

      path {
        stroke: #171923;
      }
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 36.4rem;
    height: 52.8rem;
    padding: 3.4rem 3rem 3rem 2.7rem;
    border-radius: 4rem;
    background-color: $white;
  }

  &__image-block {
    position: relative;
    width: 100%;
    height: 25.9rem;
    margin-bottom: 4.4rem;
    border-radius: 3.2rem;
    overflow: hidden;
    box-shadow: 1rem 1rem 4rem 0 rgba(219, 230, 237, 0.74);

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text-block {
    width: 100%;
    height: 26.8rem;
    margin-bottom: 3.5rem;
  }

  &__text {
    width: 100%;
    height: 23rem;
    margin-bottom: 1.9rem;
    overflow: hidden;
    font-size: 1.6rem;
    line-height: 2.3rem;
  }

  &__text-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.93rem;
    text-decoration: underline;

    > svg {
      width: 0.9rem;
      height: 1.6rem;
      margin-left: 1rem;

      path {
        stroke: #171923;
      }
    }
  }

  &__item-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 8.1rem;
    height: 8.1rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__item-description {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }

  &__item-title {
    margin-bottom: 2.8rem;
    font-weight: bold;
    font-size: 2.5rem;
    height: 3.2rem;
  }

  &__item-rating-svg {
    width: 2.5rem;
    height: 2.3rem;
    margin-right: 0.9rem;

    > img {
      width: 100%;
      height: 100%;
    }

    .orange,
    .green {
      display: none;
    }

    &.orange {
      .empty {
        display: none;
      }

      .orange {
        display: block;
      }
    }

    &.green {
      .empty {
        display: none;
      }

      .green {
        display: block;
      }
    }
  }

  &__item-rating {
    display: flex;
    padding: 0 0.5rem;
    margin-bottom: 0.8rem;
  }

  &__item-rating-text {
    padding: 0 0.5rem;
    font-size: 1.5rem;
    line-height: 3.2rem;
    color: #97A5AE;
  }
}

@media (max-width: 48em) {
  .text-reviews {
    margin-bottom: 20rem;

    &__title-block {
      margin-bottom: 8rem;
    }

    &__link {
      justify-content: center;
      font-size: 3.2rem;
      line-height: 3.86rem;

      > svg {
        width: 1.8rem;
        height: 3.2rem;
        margin-left: 2.8rem;
      }

      &.mobile {
        display: flex;
      }
    }

    &__cards {
      flex-direction: column;
      justify-content: normal;
    }

    &__item {
      width: 100%;
      height: 100.2rem;
      margin-bottom: 6rem;
      padding: 6rem 4rem;
      border-radius: 8rem;
    }

    &__image-block {
      height: 47.4rem;
      margin-bottom: 10rem;
      border-radius: 6.4rem;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__text-block {
      height: 49.4rem;
      margin-bottom: 8rem;
    }

    &__text {
      height: 41.4rem;
      margin-bottom: 4rem;
      font-size: 3.2rem;
      line-height: 4.6rem;
    }

    &__text-link {
      font-size: 3.2rem;
      line-height: 3.86rem;

      > svg {
        width: 1.8rem;
        height: 3.2rem;
        margin-left: 2rem;
      }
    }

    &__item-btn {
      right: 0.8rem;
      top: 1.8rem;
      width: 16.2rem;
      height: 16.2rem;
    }

    &__item-description {
      font-size: 3.2rem;
      line-height: 6.4rem;
    }

    &__item-title {
      margin-bottom: 2.8rem;
      font-weight: bold;
      font-size: 5rem;
      height: 6.4rem;
    }

    &__item-rating-svg {
      width: 5rem;
      height: 4.6rem;
      margin-right: 1.8rem;
    }

    &__item-rating-text {
      padding: 0 1rem;
      font-size: 3rem;
      line-height: 6.4rem;
    }
  }
}