@import "../param";

.video-reviews {
  margin-bottom: 17rem;

  &__title-block {
    margin-bottom: 5.5rem;
  }

  &__navigation-block {
    display: flex;
    align-items: center;
  }

  &__navigation-time-body {
    background-color: #F2F7FB;
  }

  &__pagination {
    margin-right: 8rem;
  }

  &__slider {
  }

  &__item {
    min-height: 49.4rem;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 4rem;
    background-color: $white;
  }

  &__image-block {
    position: relative;
    width: 100%;
    height: 25.9rem;
    margin-bottom: 3.5rem;
    border-radius: 3.2rem;
    overflow: hidden;
    box-shadow: 1rem 1rem 4rem 0 rgba(219, 230, 237, 0.74);

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 9.3rem;
    height: 9.3rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__item-description {
    padding: 0 0.5rem;
    font-size: 1.6rem;
    line-height: 3.2rem;
  }

  &__item-title {
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 2.5rem;
    height: 3.2rem;
  }

  &__item-rating-svg {
    width: 2.5rem;
    height: 2.3rem;
    margin-right: 0.9rem;

    > img {
      width: 100%;
      height: 100%;
    }

    .orange,
    .green {
      display: none;
    }

    &.orange {
      .empty {
        display: none;
      }

      .orange {
        display: block;
        box-shadow: 1px 1px 0.53rem 0 rgba(255, 255, 255, 0.6) inset, 0 0.88rem 2.63rem 0 rgba(255, 132, 75, 0.3);
      }
    }

    &.green {
      .empty {
        display: none;
      }

      .green {
        display: block;
        box-shadow: 1px 1px 0.53rem 0 rgba(255, 255, 255, 0.6) inset, 0 0.88rem 2.63rem 0 rgba(233, 240, 245, 0.3);
      }
    }
  }

  &__item-rating {
    display: flex;
    padding: 0 0.5rem;
    margin-bottom: 0.8rem;
  }

  &__item-rating-text {
    padding: 0 0.5rem;
    font-size: 1.5rem;
    line-height: 3.2rem;
    color: #97A5AE;
  }
}